<h1>New Game</h1>
<ul>
<%  %><% @letters.each do |letter| %>
<li><%= letter %></li>
<% end %>
</ul>

<h3>What is the longest word you can find?</h3>
<form action="/score" method="POST">
  <input type="text" name="word">
  <input type="submit" value="Play!">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= hidden_field_tag :letters, @letters %>
</form>
